@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 90%;
  height: 90%;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 25px;
  overflow: auto;
}

.content h2,
.content h1 {
  position: relative;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.content h1::after {
  content: "";
  position: absolute;
  width: 8%;
  height: 4px;
  background-color: rgba(26, 188, 156, 1);
  bottom: -10px;
  left: 46%;
}

.content h2::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 4px;
  background-color: rgba(26, 188, 156, 1);
  bottom: -8px;
  left: 0;
}

.content p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.orderList li {
  font-family: "Roboto Condensed", sans-serif;
  margin: 5px 0;
  font-size: 18px;
}
