.container {
  position: sticky;
  top: 0;
  background-color: #fff;
  min-height: 150px;
  padding: 0 6%;
  z-index: 100;
}

.gradientBg {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.upper {
  height: 50%;
  background-color: #fff;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 80px;
  height: 100%;
}

.socialIcon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #42bec3;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
}
